body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.across {
    display: flex;
}

.vert {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav {
    background-color: black;
    width: 140px;
    height: 100vh;
    padding: 5px;
}

.logo {
    color: white;
    font-size: 30px;
    margin: 10px 5px;
}


.userArea {
    justify-content: space-between;
}

a, .logOut {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 10px 5px;
    overflow: auto;
    background-color: black;
    border: none;
}

.search {
    margin: 10px 5px;
    overflow: auto;
}

input {
    max-width: 120px;
}

.entire {
    width: 100%;
    padding: 10px;
}

.card {
    width: 25%;
    min-width: 10em;
    max-width: 100%;
    margin: 10px;
    padding: 5px;
    border: solid 1px rgb(220, 220, 220);
    /* box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    border-radius: 5px; */
    position: relative;
    background-color: black;
}

.ingredients {
    background-color: whitesmoke;
    width: 60%;
}

.directions {
    background-color: whitesmoke;
    width: 95%;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


h1 {
    margin: 10px;
}
h5 {
    margin: 2px;
    color: white;
}
.longInput > p {
    margin: 2px;
}

.longInput > input {
    min-width: 300px;
}

.userInput > p {
    font-size: 16px;
    min-width: 120px;
    margin: 2px;
}

.userInput {
    margin: 2px;
}

.topMargin {
    margin: 50px 0 0 0;
}

.addIng, .addDirect {
    padding: 10px;
}

.zero {
    margin: 0;
    padding: 0;
    background-color: white;
}

.blackButton {
    width: 80px;
    border-radius: 3px;
    margin: 35px 10px 10px 10px;
    background-color: black;
    color: white;

}